@import "./mixin";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMTBlack.woff2') format('woff2'),
  url('../fonts/ArialMTBlack.woff') format('woff'),
  url('../fonts/ArialMTBlack.ttf') format('truetype');
  @include font_face_design;
}

:root {
  --color-page-background: #{$white_color};
  --color-text: #{$dark_color};
}
.dark {
  --color-page-background: #{$dark_color};
  --color-text: #{$white_color};
}
body {
  margin: 0;
  color: var(--color-text);
  -webkit-text-size-adjust:  $w_100;
  -ms-text-size-adjust: none;
  font: 16px/24px 'ArialMT', serif;
  background: var(--color-page-background);
  overflow-x: $hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 { line-height: 1.5;}
.w-100 {
  width: $w_100;
}
.max-width {
  @include max_width;
}
.list-style-none {
  @include list_style_none;
}
.text-break{
  overflow-wrap: break-word;
}
.d-block {
  display: $d_block;
}
.d-none {
  display: $d_none;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
input[type="submit"],
button {
  cursor: pointer;
}
img {
  vertical-align: top;
  border-style: $d_none;
}
button:focus,
textarea:focus,
input:focus,
select {
  outline: $d_none;
}
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
select{
  color:$dark_color;
}
input[type="date"]::-webkit-calendar-picker-indicator{
  background: $transparent;
  color: $transparent;
  cursor: pointer;
  height: auto;
  @include position_abs_left;
  right: 0;
  bottom: 0;
  width: auto;
}
*:focus {outline: $d_none;}
.transition{ @include transition;}
#wrapper {
  width: $w_100;
  position: $position_rel;
  overflow: $hidden;
}
.container{
  width: 1200px;
  max-width: $w_100;
  padding: 0 15px;
  margin: $margin_auto;
}
.container.fluid{
  width: $w_100;
  max-width: $d_none;
}
.container:after {
  display:block;
  clear: both;
  content: '';
}
.main-bg { background: $dark_color;}
.position_abs_right {
  @include position_abs_right;
}
.position_abs_left {
  @include position_abs_left;
}