* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.img-responsive {
  width: 100%;
}
.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}
.word-break{
  word-break: break-word;
}
.d-block {
  display: block;
}
.no-padding{
  padding: 0 !important;
}
input[type="submit"],
button {
  cursor: pointer;
}
img {
  vertical-align: top;
  border-style: none;
}
button:focus,
textarea:focus,
input:focus,
select {
  outline: none;
}
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
select{
  color:#000;
}
input[type="date"]::-webkit-calendar-picker-indicator{
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
body {
  margin: 0;
  color: var(--body-text-color);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font: 400 16px/20px "Poppins", sans-serif;
  background: #fff;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:focus {
  outline: none;
}
.transition{
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.container.fluid{
  width:100%;
  max-width: none;
}
.container:after {
  display:block;
  clear: both;
  content: '';
}