@import './_variables.scss';
@mixin d_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@mixin d_flex_column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@mixin margin_auto{
  margin: 0 auto;
  position: relative;
}
@mixin position_abs_left {
  position: absolute;
  left: 0;
  top: 0;
}
@mixin transition{
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
@mixin position_abs_right{
  position: absolute;
  right: 0;
  top: 0;
}
@mixin _before_position_abs{
  content:"";
  @include position_abs_left;
}
@mixin _after_position_abs{
  content:"";
  @include position_abs_left;
}
@mixin flex_ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
@mixin user_img {
  border-radius: 100%;
  object-fit: cover;
}