//For Tabs
@media (min-width:768px) and (max-width:990px){}
//For Mobile Landscape
@media (max-width:767px){}
//For Mobiles
@media (max-width:600px){}
//For small Mobiles
@media (max-width:320px){}
//For Ipad Pro and mini laptops
@media screen and (min-width:991px) and (max-width:1200px){}