@import "../../assets/scss/mixin";
//For Tabs
@media (min-width:$breakpoint_min_tablet) and (max-width:$breakpoint_max_tablet){
  #header{
    padding: 5px 0;
    .header-logo{
      justify-content: center;
      display: flex;
      a img {
        width: 100px;
      }
    }
    .header-content-wrap {
      & > div { flex-grow: 3}
      .header-navigation {
        position: fixed;
        top: 0;
        background: $dark_color;
        width: 250px;
        left: -$w_100;
        z-index: 999;
        height: 100vh;
        padding-top: 0;
        overflow: auto;
        &.active {left: 0;}
        .open-menu-btn,.close-menu-btn { display: block}
        & > ul {
          flex-direction: column;
          background: $dark_color;
          padding-top: 35px;
          li {
            display: $d_block;
            padding: 5px 19px;
            font-size: 16px;
            .drop-down-arrow {
              position: absolute;
              right: 4px;
              top: 3px;
              width: 28px;
              height: 28px;
              padding: 5px;
              background: #333;
              border-radius: 3px;
            }
            a {
              padding: 2px 0;
            }
          }
        }
      }
      .dropdownList {
        position: $position_rel;
        padding: 6px 15px;
        width: $w_100;
        background: #222;
        margin: 13px 0 0;
        display: $d_none;
        opacity: 1;
        visibility: visible;
        &:before { display: $d_none}
        &.active { display: $d_block;}
      }
      .user-profile {
        justify-content: right;
        display: flex;
        flex: 0 0 60px;
        &.active section{
          margin-top: 10px;
        }
        section {
          border: 1px solid $white_color;
          z-index: 999;
        }
        span { display: $d_none}
        .arrow-down { margin-top: 12px}
      }
    }
  }
}
//For Mobile Landscape
@media (max-width:$breakpoint_mobile_landscape){
  #header{
    padding: 5px 0;
    .header-logo{
      justify-content: center;
      display: flex;
      a img {
        width: 100px;
      }
    }
    .header-content-wrap {
      & > div { flex-grow: 3}
      .header-navigation {
        position: fixed;
        top: 0;
        background: $dark_color;
        width: 250px;
        left: -$w_100;
        z-index: 999;
        height: 100vh;
        padding-top: 0;
        overflow: auto;
        &.active {left: 0;}
        .open-menu-btn,.close-menu-btn { display: block}
        & > ul {
          flex-direction: column;
          background: $dark_color;
          padding-top: 35px;
          li {
            display: $d_block;
            padding: 5px 19px;
            font-size: 16px;
            &:hover .dropdownList { margin-top: 13px;}
            &.active .dropdownList { display: $d_block;}
            &.active .drop-down-arrow {
              transform: scaleY(-1) !important;
            }
            &:hover .drop-down-arrow {transform: scaleY(1)}
            .drop-down-arrow {
              position: absolute;
              right: 4px;
              top: 3px;
              width: 28px;
              height: 28px;
              padding: 5px;
              background: #333;
              border-radius: 3px;
              pointer-events: unset;
            }
            a {
              padding: 2px 0;
            }
          }
        }
      }
      .dropdownList {
        position: $position_rel;
        padding: 6px 15px;
        width: $w_100;
        background: #222;
        margin: 13px 0 0;
        display: $d_none;
        opacity: 1;
        visibility: visible;
        &:before { display: $d_none}
      }
      .user-profile {
        justify-content: right;
        display: flex;
        flex: 0 0 60px;
        &.active section{
          margin-top: 10px;
        }
        section {
          border: 1px solid $white_color;
          z-index: 999;
        }
        span { display: $d_none}
        .arrow-down { margin-top: 12px}
      }
    }
  }
}
//For Mobiles
@media (max-width:$breakpoint_mobile_portrait){}
//For small Mobiles
@media (max-width:$breakpoint_small_portrait){}
//For Ipad Pro and mini laptops
@media screen and (min-width:$breakpoint_min_laptop) and (max-width:$breakpoint_max_laptop){}