@import "../../assets/scss/mixin";
#header {
  @include d_flex;
  padding: 0 0;
  .header-logo{
    img {
      width: 150px;
    }
  }
  .header-logo { align-self: center}
  .header-content-wrap {
    display: $flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //Start Css for Navigation
    .header-navigation {
      align-self: center;
      @include transition;
      .open-menu-btn,.close-menu-btn {
        width: 50px;
        height: 50px;
        position: fixed;
        display: $d_none;
        padding: 10px;
        left: 0;
        top: 0;
        background: var(--color-page-background);
        border-radius: 0 5px 5px 0;
      }
      .close-menu-btn {
        right: 0;
        left: unset;
        position: $position_abs;
        padding: 13px;
        z-index: 1;
      }
      & > ul {
        @include flex_ul;
        position: $position_rel;
        li{
          padding: 10px 19px;
          font-size: 18px;
          position: $position_rel;
          display: flex;
          cursor: pointer;
          .drop-down-arrow {
            width: 15px;
            margin: 0 0 0 4px;
            @include transition;
          }
          &:hover .dropdownList {
            opacity: 1;
            visibility: visible;
            margin-top: 0;
          }
          &:hover .drop-down-arrow { transform: scaleY(-1)}
          a {
            color: var(--color-text);
            text-decoration: $d_none;
            display: $d_block;
            padding: 20px 0;
          }
        }
      }
    }
    //End Css for Navigation
    //Start Dropdown
    .dropdownList {
      position: $position_abs;
      top: 100%;
      left: 0;
      width: 250px;
      background: #444;
      padding: 15px 20px;
      border-radius: 5px;
      margin: 40px 0 0;
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      opacity: 0;
      visibility: hidden;
      @include transition;
      &:before {
        content: '';
        position: absolute;
        left: 13px;
        top: -10px;
        border-left: 10px solid $transparent;
        border-right: 10px solid $transparent;
        border-bottom: 10px solid #444444;
      }
      ul {
        li {
          padding: 5px 0;
          font-size: 16px;
          a {
            padding: 5px 0;
          }
          a:hover {
            opacity: 0.9;
          }
        }
      }
    }
    //Start Dropdown
    //Start Css fro User Image
    .user-profile {
      align-self: center;
      position: $position_rel;
      a {display: $d_block;}
      img {
        @include user_img;
        width: 40px;
        height: 40px;
      }
      span {
        color: var(--color-text);
        display: inline-block;
        padding: 9px 0 0 10px;
        font-size: 13px;
        position: $position_rel;
        &:before {
          @include _before_position_abs;
        }
      }
      .arrow-down {
        width: 14px;
        margin: 0 0 0 3px;
        display: inline-block;
        vertical-align: middle;
        @include transition;
      }
      .nav-dropdown {
        @include transition;
        position: absolute;
        right: 0;
        top: 100%;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 160px;
        background: var(--color-page-background);
        margin: 0 0 0;
        visibility: hidden;
        opacity: 0;
        a {
          display: $d_block;
          padding: 4px 0;
          font-size: 13px;
          color: var(--color-text);
          text-decoration: $d_none;
        }
      }
      &.active {
        .nav-dropdown{
        margin: 22px 0 0;
        opacity: 1;
        visibility: visible;
        }
      }
      &.active {
        .arrow-down {
          transform: scaleY(-1);
        }
      }
    }
    //End Css fro User Image
  }
}