@import "../../assets/scss/mixin";
@media (max-width:$breakpoint_laptop){}
@media (max-width:$breakpoint_mini_laptop){}
@media (max-width:$breakpoint_tablet){
  #header{
    padding: 5px 0;
    .header-logo{
      justify-content: center;
      display: flex;
      padding-left: 15px;
      img {
        width: 100px;
      }
    }
    .header-content-wrap {
      & > * { flex-grow: 3}
    }
  }
}
@media (max-width:$breakpoint_mobile_landscape){}
@media (max-width:$breakpoint_mobile_portrait){}
@media (max-width:$breakpoint_small_portrait){}