@import "./src/assets/scss/variables";

.header {
  display: flex;
  background: $blue;
  color: white;
}

.logo {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
}
.nav-list-wrapper {
  list-style: none;
  display: flex;
  padding: 0.3rem;
}
.nav-list-item {
  margin: 0 0.5rem;
  cursor: pointer;
}

.nav-list-item:hover {
  color: darkblue;
}